# Compiled Object files
*.slo
*.lo
*.o
*.out

*.1
*.xcodeproj


# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Java classes
*.class
bin

# Eclipse files
.metadata
.project
.cproject
.classpath
.settings

# Mac OSX files
.DS_Store 
